* {
  margin: 0;
  padding:0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

}
.row{
    margin:0px;
}

.logo{
    display:flex;
    justify-content: center;
    text-align: center;
}
#bandeau{
    display:flex;
    justify-content: space-around;
    background-color: cornflowerblue;
}

.articles{
   padding-top: 20px;
    padding-left: 10px;
    display: flex;
    width:100%;
    align-items: center;
}

.card-group{
    padding-top: 20px;
}

h2{
    display: flex;
    padding-left: 10px;
    align-items: center; 
    justify-content: center;
}
h3{
    padding: 10px;

}
p{
    padding:10px
}
iframe{
    margin-top: 20px;
    margin-left: 100px;
}

@media(max-width:750px){
    .logo{
        display:none;
        justify-content: center;
        text-align: center;
        width:50px;
    }
    .me-2{
        display:none;
    }
    .articles{
        display:flex;
        flex-wrap: wrap;

    }
    iframe{
        width:100%;
        padding: 0;
        margin: 0;
    }
    .carousel{
        height:200px;
    }
}